/* ==========================================================================
   CUSTOM CSS BY ME
   ========================================================================== */

/*
   Visibility
   ========================================================================== */

.zoom{
  /* default button */
  
  &:hover {
    transform: scale(1.25);
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* overlay effect (full height and width) - lays on top of the container */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: $dark-gray;
}

/* When you mouse over the container, fade in the overlay */
.container:hover .overlay {
  opacity: 0.25;
}

.fa-info-color {
  color: $info-color;
}


summary {
  background: #ecebeb;
  padding: 5px 8px;
  border-radius: 5px;
  margin: 5px 0;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

/*
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}
*/

details {
  transition: height 1s ease;
}

details summary::-webkit-details-marker { display:none; }

.page__content a {
  text-decoration: none !important;
}


.publications-list-item {
  // background: #fbf8f8;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 1em 0;
  border: 1px solid #4d4d4d38 !important;
  box-shadow: 5px 5px #88888824;
}

.publications-list-item h2 {
  font-weight: 600 !important;
  margin: 0.5em 0;
  font-size: 1.4em !important;
  padding: 0.5em;
  border-bottom: 2px dotted #2979ab !important;
}

.publications-list-item h2 a {
  text-decoration: none;
}


.btn--info-outline {
  border: 1px solid #2979ab !important;
  background-color: transparent;
  color: #2979ab !important;
  font-weight: 400 !important;
  font-size: 0.85em;
}

.btn--info-outline:hover {
  background-color: #2979ab !important;
  color: #fff !important;
}

.author__urls li {
  font-size: 0.9em !important;
}
.author__urls li i {
  font-size: 1em !important;
}

.masthead {
  background: #fff;
}

.greedy-nav {
  background: #d9d9d924;
  border-radius: 5px;
  padding: 0.5em 1em;
  box-shadow: 5px 5px #88888824;
}
.greedy-nav a {
  color: #575c60 !important;
}
.greedy-nav a:hover {
  color: #2979ab !important;
}

.greedy-nav .visible-links a::before {
  background: #2979ab !important;
}
.greedy-nav button {
  top: 0 !important;
  height: 98% !important;
}

.about-box {
  border: 1px solid #fafafa !important;
  // box-shadow: 5px 5px #88888824;
  box-shadow: 5px 5px #2979ab1c;
  background: #fdfdfd;
  border-radius: 5px;
  padding: 1em;
}

article details p {
  padding: 0.25em 0.7em;
  text-align: justify;
}

article details .video-container {
  padding: 0.7em;
}

article details .fluid-width-video-wrapper {
  overflow: hidden;
  border-radius: 10px;
}

article details pre {
  margin: 0.5em 1em;
  background: #fafafa;
  padding: 0.5em;
}

.info-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75em;
  // gap: 20px;
  // background-color: #f9f9f9;
  // padding: 0.25em 0.5em;
  //padding: 20px;
  // box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin: 0.25em 0;
  border-radius: 5px;
  border: 1px solid #ecebeb;
  padding: 0.25em;
}

.info-title {
  font-size: 0.9em !important;
  // font-weight: 600;
  font-style: italic;
  // background: #ecebeb;
  padding: 0.5em;
  margin: 0 !important;
  width: 5em;
  // height: 40px;
  //border-radius: 5px;
  flex-shrink: 0;
  // border: 1px solid #ecebeb;
  display: flex;
  align-items: center;
}

.info-description {
  font-size: 0.9em !important;
  align-items: center;
  display: flex;
  margin: 0em !important;
  flex-grow: 100;
}


 .page a:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.page a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background: #5f9bc0;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.paper-type {
  /* border: 1px solid #2979ab; */
  border-radius: 4px;
  padding: 0.5em 0.7em;
  font-size: .8em;
  margin: 0.5em;
  background: #fafafa;
}

.page_Teaching h3 {
  margin: 1.5em 0 0;
  padding-bottom: 0.5em;
  color: #9ba1a6;
  border-bottom: 1px solid #f2f3f3;
}